mixin dropdown(opts)
  - opts = opts || {}
  - const cls = ['dp-dropdown', 'dropdown', opts.position && `dropdown-${opts.position}`, opts.hover && 'dropdown-hover', opts.open && 'dropdown-open', opts.end && 'dropdown-end', opts.class].filter(Boolean).join(' ')
  details(class=cls)&attributes(attributes)
    block

mixin dropdown-trigger(opts)
  - opts = opts || {}
  summary(class=opts.class)&attributes(attributes)
    if opts.text
      | #{opts.text}
    block

mixin dropdown-content(opts)
  - opts = opts || {}
  - const cls = ['dp-dropdown-content', 'dropdown-content', opts.class].filter(Boolean).join(' ')
  ul(class=cls tabindex="0")&attributes(attributes)
    if opts.items
      each item in opts.items
        +dropdown-item(item)
    block

mixin dropdown-item(opts)
  - opts = opts || {}
  - const cls = ['dp-dropdown-item', opts.active && 'active', opts.disabled && 'disabled', opts.class].filter(Boolean).join(' ') || undefined
  li(class=cls)&attributes(attributes)
    if opts.href
      a(href=opts.href data-page=opts.page)
        if opts.icon
          +dp-icon(opts.icon, {size: 'sm'})
        if opts.text
          |  #{opts.text}
        block
    else
      a(data-page=opts.page)
        if opts.icon
          +dp-icon(opts.icon, {size: 'sm'})
        if opts.text
          |  #{opts.text}
        block
