mixin table(opts)
  - opts = opts || {}
  - const auto = opts.autoWidth !== false
  - const cls = ['dp-table', 'table', opts.size && `table-${opts.size}`, opts.zebra && 'table-zebra', opts.pinRows && 'table-pin-rows', opts.pinCols && 'table-pin-cols', opts.class].filter(Boolean).join(' ')
  table(class=cls data-autowidth=auto || undefined)&attributes(attributes)
    if opts.headers
      thead
        tr
          each header in opts.headers
            if auto
              th(style="width: 1%; white-space: nowrap")= header
            else
              th= header
          if auto
            th
    block
    if opts.rows
      tbody
        each row in opts.rows
          tr
            each cell in row
              if auto
                td(style="width: 1%; white-space: nowrap")= cell
              else
                td= cell
            if auto
              td
